/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color-light: #000000;
  --background-color-light: #ffffff;
  --foreground-color-dark: #ffffff;
  --background-color-dark: #000000;
}

body.light-theme {
  color: var(--foreground-color-light);
  background-color: var(--background-color-light);
}

body.dark-theme {
  color: var(--foreground-color-dark);
  background-color: var(--background-color-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
